<!DOCTYPE html>
<html>
<head>
    <title>Consulta de Películas</title>
</head>
<body>
    <h1>Consulta de Películas</h1>
    <form action="/consulta" method="get">
        <label for="opcion">Seleccione una opción:</label>
        <select name="opcion" id="opcion">
            <option value="1">Consultar Películas por Mes</option>
            <option value="2">Consultar Películas por Día</option>
            <option value="3">Consultar Score de una Película</option>
            <option value="4">Consultar Votaciones de una Película</option>
            <option value="5">Consultar Éxito de un Actor</option>
            <option value="6">Consultar Éxito de un Director</option>
            <option value="7">Recomendación de Películas</option>
            <option value="8">Ver README</option>
        </select>
        <br><br>
        <input type="submit" value="Consultar">
    </form>
</body>
</html>
